* {
    padding: 0;
    margin: 0;
    font-family: Gotham-Medium, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    transition: all 0.3s ease-out;
}

.container {
    width: 80rem;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
}

.fa-bars {
    display: none;
}

.header-logo img {
    width: 5.9375rem;
    cursor: pointer;
}

.header-nav .nav {
    gap: 3.5rem
}

.header-nav .nav > a {
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1.687rem;
    position: relative;
}

.header-nav .nav > a::before {
    content: '';
    position: absolute;
    top: 1.75rem;
    width: 0%;
    height: 0.3125rem;
    background-color: #bd945f;
    transition: all 0.3s ease;
}

.header-nav .nav > a:hover::before {
    width: 69%;
}
/* Header */

/* Banner */
.banner {
    background-image: url('../assets/img/products/banner.jpg');
    height: 33.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 9rem;
}

.banner-content {
    position: absolute;
    margin: 10rem 0 0 66.75rem;
}

.banner-content > :nth-child(1) {
    font-family: SVN-Sharpen;
    color: #bd945f;
    font-size: 5.1875rem;
    line-height: 1;
    margin: 0;
}

.banner-content > :nth-child(2) {
    font-size: 2.625rem;
    color: #2c2e53;
    line-height: 1;
    margin: -2.25rem 0 1.25rem 3.75rem;
}

.banner-content > button {
    font-size: 1.375rem;
    color: #2c2e53;
    line-height: 1;
    padding: 1.125rem 2.375rem;
    border: none;
    background-color: #fff;
    margin-left: 18.25rem;
}

.banner-content > button:hover {
    background-color: #dfdfdf;
}
/* Banner */

/* Products */
.products {
    background-color: #f3f3f3;
}

.products .container {
    padding: 8.25rem 0 3.75rem 0    ;
}

.products-container {
    position: relative;
    background-color: #fff;
}

.products-container > .products-container-1 {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    padding: 2.25rem 0 2.75rem 0;
}

.products-container-1 > :nth-child(1), .products-container-1 > :nth-child(3) {
    width: max-content;
}

.products-container-2 {
    width: 73.5rem;
}

.products-container > div > div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.product-box h4 {
    color:  #2c2e53;
    font-size: 1rem;
    font-family: Gotham-Ultra, sans-serif;
    margin: 0.7rem 0 0 0;
}

.product-box {
    width: max-content;
    margin-bottom: 3.5rem;
}

.product-box img {
    width: 16.875rem;
}

.product-box a {
    text-decoration: none;
}

.product-title {
    display: inline-block;
}

.product-title :nth-child(2) {
    margin: 0;
    margin-top: -0.05rem;
}

.product-title :nth-child(3) {
    color: #888888;
    font-size: 0.75rem;
    margin: 0;
    margin-top: -0.05rem;
}

.product-title :nth-child(4) {
    font-size: 0.75rem;
    margin: 0;
}

.fa-star {
    font-size: 0.9rem;
}

.products-container-1 > :nth-child(1) {
    position: relative;
    font-size: 1.875rem;
    font-family: Gotham-Ultra, sans-serif;
    text-transform: uppercase;
    margin-bottom: 2.375rem;
}

.products-container-1 > :nth-child(1)::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 10rem;
    height: 0.5625rem;
    background-color: #bd945f;
}

.products-container-1 nav {
    align-self: center
}

.products-container-1 ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.products-container-1 li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.625rem;
    cursor: pointer;
}

.products-container-1 a {
    color: #fff !important;
    font-size: 0.75rem;
}

.products-container-1 li:hover {
    background-color: #bd945f;
}

.products-container-1 li:hover a {
    color: #000 !important;
}

.pickPrice {
    position: absolute;
    top: -2.75rem;
    left: 3.125rem;
    display: flex;
}

.pickPrice * {
    font-size: 1.125rem;
}

.priceList {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 2.75rem;
}

.priceList li {
    margin-right: 2.5rem;
}

.priceList p {
    color: #bd945f;
    cursor: pointer;
}

.arrangeProducts {
    position: absolute;
    top: -2.75rem;
    right: 1.375rem;
    cursor: pointer;
}

.arrangeProducts > p {
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
}

.arrangeProducts:hover .arrangeProductsList {
    display: block;
}

.arrangeProductsList {
    display: none;
    list-style: none;
    padding: 0.75rem 1.75rem 0.75rem 0.75rem;
    border: 3px solid #bd945f;
    background-color: #fff;
}

.arrangeProductsList p {
    font-size: 0.75rem;
    margin: 0;
}

.arrangeProductsList i {
    color: #fff;
    margin-right: 0.5rem;
}
/* Products */

/* Footer */
footer {
    height: 18.75rem;
    background-color: #363636;
}

footer * {
    font-size: 1.125rem;
    color: #fff;
    line-height: 1;
}

footer > div > div {
    display: inline-block;
    height: 12rem;
}
 
.footer-left > :nth-child(1) {
    position: relative;
    margin-bottom: 2rem;
}

.footer-left > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-left-contact {
    margin-left: 0.625rem;
}

.footer-left-contact p {
    font-family: Gotham-Thin, sans-serif;
}

.footer-left-contact img {
    margin-right: 1rem;
    margin-top: -0.3rem;
}

.footer-left-contact > :nth-child(1) > img {
    width: 1.125rem;
}

.footer-left-contact > :nth-child(2) > img {
    width: 1.25rem;
}

.footer-left-contact > :nth-child(3) > img {
    width: 0.875rem;
}

.footer-mid p {
    font-family: Gotham-Thin, sans-serif;
    margin-bottom: 0.5rem;
}

.footer-mid > :nth-child(1) {
    position: relative;
    font-family: Gotham-Medium, sans-serif;
    margin-bottom: 2rem;
}

.footer-mid > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-right > :nth-child(1), .footer-right > :nth-child(2) {
    margin-bottom: 2rem;
}

.footer-right > :nth-child(1) {
    position: relative;
}

.footer-right > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-right-contact img {
    margin-right: 0.5rem;
}

.footer-right-contact > :nth-child(1) {
    width: 2.125rem;
}

.footer-right-contact > :nth-child(2) {
    width: 2.25rem;
}

.footer-right-contact > :nth-child(3) {
    width: 2.5rem;
}

.footer-right > :nth-child(3) {
    width: 9.1875rem;
}
/* Footer */

@media (max-width: 1399.98px) {
    * {
        font-size: 13px;
    }
}

@media (max-width: 1199.98px) {
    * {
        font-size: 10px;
    }
}

@media (max-width: 991.98px) {
    * {
        font-size: 7px;
    }

    .products-container {
        padding: 1rem 0;
    }

    .product-box {
        margin: 0;
    }

    .products-container-2 {
        column-gap: 0 !important;
        gap: 3rem !important;
        max-width: 70.5rem;
        flex-wrap: wrap;
    }

    .products-container-2 img {
        width: 33.75rem;
    }

    .product-title * {
        font-size: 1.8rem !important;
    }

    .products-container-1 > :nth-child(1) {
        font-size: 2.4rem;
    }

    .pickPrice *, .arrangeProducts * {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 767.98px) {
    header {
        padding: 1rem 0 !important;
    }

    header::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3.8rem;
        background-color: #F4F4F5;
        z-index: 0;
        bottom: 0;
    }

    header .container {
        position: relative;
        flex-direction: column !important;
        z-index: 1;
    }

    header .header-logo {
        width: 5.9375rem;
        height: 5rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }
    
    .header-nav .nav > a::before {
        display: none;
    }

    .header-nav .nav > a:hover {
        color: #bd945f;
    }

    .banner-content {
        margin-left: 50rem;
    }
}

@media (max-width: 575.98px) {
    * {
        font-size: 4px;
    }

    .products-container-1 > nav li {
        width: 3.5rem;
        height: 3.5rem;
    }

    .products-container-1 > nav a {
        font-size: 2.5rem;
    }

    header {
        padding: 1.5rem 0 !important;
    }

    header .header-logo {
        width: 7.5rem;
        height: 6.6rem;
        overflow: hidden;
        margin-bottom: 0;
    }

    .header-logo img {
        width: 7.5rem;
    }

    header::before {
        display: none;
    }

    .header-nav.active {
        display: flex;
    }

    .fa-bars {
        position: absolute;
        display: block;
        font-size: 16px;
        top: 11.2px;
        left: 10px;
        color: #000;
    }

    div.header-nav {
        position: absolute;
        width: 100vw;
        top: 32.4px;
        left: calc(-100vw - (100vw - 81.5rem)/2);
        background-color: #f3f3f3;
        transition: left 0.3s ease;
    }

    div.header-nav.active {
        left: calc((81.5rem - 100vw) / 2);
    }

    nav.header-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5rem 0;
    }

    nav.header-nav a {
        position: relative;
        box-sizing: border-box;
        width: 85%;
        padding: 3rem 5rem !important;
        margin: 0 auto;
        font-size: 13px !important;
        opacity: 0;
        border: 1px solid #d4d4d4;
        background-color: #fff;
        transform: translateX(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    nav.header-nav.active > a::before {
        display: block !important;
        position: absolute;
        content: "";
        background-color: transparent;
        border-left: 6px solid #bd945f;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        left: -1px;
        top: -1px;
        height: 45.5px;
    }

    .header-nav.active a {
        opacity: 1;
        transform: translateX(0);
    }

    .header-nav.active a:nth-child(1) { transition-delay: 0.1s; }
    .header-nav.active a:nth-child(2) { transition-delay: 0.2s; }
    .header-nav.active a:nth-child(3) { transition-delay: 0.3s; }
    .header-nav.active a:nth-child(4) { transition-delay: 0.4s; }
    .header-nav.active a:nth-child(5) { transition-delay: 0.5s; }
    .header-nav.active a:nth-child(6) { transition-delay: 0.6s; }

    

    footer {
        height: max-content;
    }
    
    footer > div > div {
        height: max-content;
        margin-bottom: 6rem;
    }

    footer > div > div > p:nth-child(1) {
        margin-bottom: 5rem !important;
    }

    footer > div > div > p:nth-child(1)::before {
        top: 130% !important;
        width: 50% !important;
        height: 1rem !important;
    }

    footer * {
        font-size: 12px;
    }

    footer > .container {
        flex-direction: column;
        align-items: start !important;
        padding: 5rem 0;
    }

    .footer-left img {
        width: 2.5rem !important;
    }

    .footer-right> div > img {
        width: 5rem !important;
    }

    .footer-right > img:nth-child(3) {
        width: 30rem;
    }
}