* {
    padding: 0;
    margin: 0;
    font-family: Gotham-Medium, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    transition: all 0.3s ease-out;
}

.container {
    width: 80rem;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
}

.fa-bars {
    display: none;
}

.header-logo img {
    width: 5.9375rem;
    cursor: pointer;
}

.header-nav .nav {
    gap: 3.5rem
}

.header-nav .nav > a {
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1.687rem;
    position: relative;
}

.header-nav .nav > a::before {
    content: '';
    position: absolute;
    top: 1.75rem;
    width: 0%;
    height: 0.3125rem;
    background-color: #bd945f;
    transition: all 0.3s ease;
}

.header-nav .nav > a:hover::before {
    width: 69%;
}
/* Header */
/* Articles */
.article {
    margin-top: 9rem;
    padding: 3.875rem 0 3rem 0;
    background-color: #f3f3f3;
}

.article-container {
    background-color: #fff;
}

.article-center {
    padding: 2rem 0 4rem 0;
}

.article-center-left {
    width: 50rem;
    margin-right: 4rem;
}

#main-article-title {
    font-family: Gotham-Ultra, sans-serif;
    color: #bd945f;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 2rem;
}

.main-articles {
    font-size: 1.125rem;
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.article-center-right > p {
    position: relative;
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.article-center-right > p::before {
    content: "";
    position: absolute;
    width: 4.25rem;
    height: 0.25rem;
    bottom: -0.25rem;
    background-color: #bd945f;
}

.side-article {
    margin-bottom: 1.75rem;
    cursor: pointer;
}

.side-article:hover p {
    color: #bd945f;
}

.side-article > img {
    margin-right: 1.875rem;
}

.side-article > p {
    width: 12rem;
    line-height: 1.2;
}
/* Articles */


/* Footer */
footer {
    height: 18.75rem;
    background-color: #363636;
}

footer * {
    font-size: 1.125rem;
    color: #fff;
    line-height: 1;
}

footer > div > div {
    display: inline-block;
    height: 12rem;
}
 
.footer-left > :nth-child(1) {
    position: relative;
    margin-bottom: 2rem;
}

.footer-left > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-left-contact {
    margin-left: 0.625rem;
}

.footer-left-contact p {
    font-family: Gotham-Thin, sans-serif;
}

.footer-left-contact img {
    margin-right: 1rem;
    margin-top: -0.3rem;
}

.footer-left-contact > :nth-child(1) > img {
    width: 1.125rem;
}

.footer-left-contact > :nth-child(2) > img {
    width: 1.25rem;
}

.footer-left-contact > :nth-child(3) > img {
    width: 0.875rem;
}

.footer-mid p {
    font-family: Gotham-Thin, sans-serif;
    margin-bottom: 0.5rem;
}

.footer-mid > :nth-child(1) {
    position: relative;
    font-family: Gotham-Medium, sans-serif;
    margin-bottom: 2rem;
}

.footer-mid > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-right > :nth-child(1), .footer-right > :nth-child(2) {
    margin-bottom: 2rem;
}

.footer-right > :nth-child(1) {
    position: relative;
}

.footer-right > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-right-contact img {
    margin-right: 0.5rem;
}

.footer-right-contact > :nth-child(1) {
    width: 2.125rem;
}

.footer-right-contact > :nth-child(2) {
    width: 2.25rem;
}

.footer-right-contact > :nth-child(3) {
    width: 2.5rem;
}

.footer-right > :nth-child(3) {
    width: 9.1875rem;
}
/* Footer */

@media (max-width: 1399.98px) {
    * {
        font-size: 13px;
    }
}

@media (max-width: 1199.98px) {
    * {
        font-size: 10px;
    }

    .side-article img {
        width: 7.5rem;
    }
}

@media (max-width: 991.98px) {
    * {
        font-size: 7px;
    }

    .article-center {
        flex-direction: column;
        width: 90%;
    }

    .article-center-left img {
        width: 100%;
    }

    .article-center-left {
        width: 100%;
        margin: 0 0 3rem 0;
    }

    .article-center-left p {
        font-size: 2.5rem;
    }

    .article-center-left > p:first-child {
        font-size: 3rem !important;
    }

    .article-center-right > p {
        width: max-content;
        font-size: 2rem;
    }

    .article-center-right > p::before {
        height: 0.5rem;
        width: 60%;
        top: 100%;
    }

    .side-articles {
        display: flex;
        gap: 4rem;
    }

    .side-article {
        flex-direction: column;
        width: calc(100% / 3);
    }

    .side-article img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
        margin: 0 0 2rem 0;
    }

    .side-article p {
        width: 100%;
        font-size: 1.8rem;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    header {
        padding: 1rem 0 !important;
    }

    header::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3.8rem;
        background-color: #F4F4F5;
        z-index: 0;
        bottom: 0;
    }

    header .container {
        position: relative;
        flex-direction: column !important;
        z-index: 1;
    }

    header .header-logo {
        width: 5.9375rem;
        height: 5rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }
    
    .header-nav .nav > a::before {
        display: none;
    }

    .header-nav .nav > a:hover {
        color: #bd945f;
    }
}

@media (max-width: 575.98px) {
    * {
        font-size: 4px;
    }

    .article-center-left p {
        font-size: 3.2rem;
    }

    .article-center-left > p:first-child {
        font-size: 3.8rem !important;
    }

    .article-center-right > p {
        font-size: 3rem;
    }

    .side-articles {
        flex-direction: column;
    }

    .side-article {
        width: 100%;
    }

    .side-article p {
        font-size: 2.5rem;
    }

    .side-article img {
        aspect-ratio: 4/1;
    }

    header {
        padding: 1.5rem 0 !important;
    }

    header .header-logo {
        width: 7.5rem;
        height: 6.6rem;
        overflow: hidden;
        margin-bottom: 0;
    }

    .header-logo img {
        width: 7.5rem;
    }

    header::before {
        display: none;
    }

    .header-nav.active {
        display: flex;
    }

    .fa-bars {
        position: absolute;
        display: block;
        font-size: 16px;
        top: 11.2px;
        left: 10px;
        color: #000;
    }

    div.header-nav {
        position: absolute;
        width: 100vw;
        top: 32.4px;
        left: calc(-100vw - (100vw - 81.5rem)/2);
        background-color: #f3f3f3;
        transition: left 0.3s ease;
    }

    div.header-nav.active {
        left: calc((81.5rem - 100vw) / 2);
    }

    nav.header-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5rem 0;
    }

    nav.header-nav a {
        position: relative;
        box-sizing: border-box;
        width: 85%;
        padding: 3rem 5rem !important;
        margin: 0 auto;
        font-size: 13px !important;
        opacity: 0;
        border: 1px solid #d4d4d4;
        background-color: #fff;
        transform: translateX(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    nav.header-nav.active > a::before {
        display: block !important;
        position: absolute;
        content: "";
        background-color: transparent;
        border-left: 6px solid #bd945f;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        left: -1px;
        top: -1px;
        height: 45.5px;
    }

    .header-nav.active a {
        opacity: 1;
        transform: translateX(0);
    }

    .header-nav.active a:nth-child(1) { transition-delay: 0.1s; }
    .header-nav.active a:nth-child(2) { transition-delay: 0.2s; }
    .header-nav.active a:nth-child(3) { transition-delay: 0.3s; }
    .header-nav.active a:nth-child(4) { transition-delay: 0.4s; }
    .header-nav.active a:nth-child(5) { transition-delay: 0.5s; }
    .header-nav.active a:nth-child(6) { transition-delay: 0.6s; }

    

    footer {
        height: max-content;
    }
    
    footer > div > div {
        height: max-content;
        margin-bottom: 6rem;
    }

    footer > div > div > p:nth-child(1) {
        margin-bottom: 5rem !important;
    }

    footer > div > div > p:nth-child(1)::before {
        top: 130% !important;
        width: 50% !important;
        height: 1rem !important;
    }

    footer * {
        font-size: 12px;
    }

    footer > .container {
        flex-direction: column;
        align-items: start !important;
        padding: 5rem 0;
    }

    .footer-left img {
        width: 2.5rem !important;
    }

    .footer-right> div > img {
        width: 5rem !important;
    }

    .footer-right > img:nth-child(3) {
        width: 30rem;
    }
}