* {
    padding: 0;
    margin: 0;
    font-family: Gotham-Medium, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    transition: all 0.3s ease-out;
}

.container {
    width: 80rem;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
}

.fa-bars {
    display: none;
}

.header-logo img {
    width: 5.9375rem;
    cursor: pointer;
}

.header-nav .nav {
    gap: 3.5rem
}

.header-nav .nav > a {
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1.687rem;
    position: relative;
}

.header-nav .nav > a::before {
    content: '';
    position: absolute;
    top: 1.75rem;
    width: 0%;
    height: 0.3125rem;
    background-color: #bd945f;
    transition: all 0.3s ease;
}

.header-nav .nav > a:hover::before {
    width: 69%;
}
/* Header */

/* Banner */
.banner {
    background-image: url('../assets/img/contact/banner.jpg');
    height: 29.25rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 9rem;
}

.banner-logo {
    text-align: center;
}

.banner-logo img {
    margin-top: 4.5rem;
    width: 9.125rem;
}

.banner-logo p {
    font-family: Gotham-Ultra, sans-serif;
    font-size: 3rem;
    line-height: 1;
    color: #fff;
    margin-top: 1.25rem;
}
/* Banner */

/* Contact */
.contact-with-us {
    height: 40.25rem;
    background-color: #f3f3f3;
}

.contact-with-us-container {
    position: absolute;
    background-color: #fff;
    width: 80rem;
    height: 40.25rem;
    top: -3.875rem;
}

.contact-with-us-container > div {
    display: flex;
    gap: 6.25rem;
    width: max-content;
}

.contact-with-us-content img {
    width: 26.6875rem;
}

.contact-with-us-content-right p {
    font-family: Gotham-Ultra, sans-serif;
    font-size: 1.875rem;
    color: #bd945f;
    margin-bottom: 1.5rem;
}

.contact-with-us-content-right input {
    box-sizing: border-box;
    width: 33.375rem;
    height: 3.625rem;
    border: 0.1875rem solid #bd945f;
    padding: 0 1.5rem;
    margin-bottom: 0.75rem;
    outline: none;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;

}

.contact-with-us-content-right input:focus {
    border: 2px solid #bd8b49;
    box-shadow: 0 0 8px rgba(216, 173, 80, 0.8);
}

.contact-with-us-content-right button {
    border: none;
    width: 7.875rem;
    height: 3.625rem;
    background-color: #bd945f;
    color: #fff;
}

.contact-with-us-content-right button:hover {
    background-color: #b6823f;
}
/* Contact */

/* Footer */
footer {
    height: 18.75rem;
    background-color: #363636;
}

footer * {
    font-size: 1.125rem;
    color: #fff;
    line-height: 1;
}

footer > div > div {
    display: inline-block;
    height: 12rem;
}
 
.footer-left > :nth-child(1) {
    position: relative;
    margin-bottom: 2rem;
}

.footer-left > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-left-contact {
    margin-left: 0.625rem;
}

.footer-left-contact p {
    font-family: Gotham-Thin, sans-serif;
}

.footer-left-contact img {
    margin-right: 1rem;
    margin-top: -0.3rem;
}

.footer-left-contact > :nth-child(1) > img {
    width: 1.125rem;
}

.footer-left-contact > :nth-child(2) > img {
    width: 1.25rem;
}

.footer-left-contact > :nth-child(3) > img {
    width: 0.875rem;
}

.footer-mid p {
    font-family: Gotham-Thin, sans-serif;
    margin-bottom: 0.5rem;
}

.footer-mid > :nth-child(1) {
    position: relative;
    font-family: Gotham-Medium, sans-serif;
    margin-bottom: 2rem;
}

.footer-mid > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-right > :nth-child(1), .footer-right > :nth-child(2) {
    margin-bottom: 2rem;
}

.footer-right > :nth-child(1) {
    position: relative;
}

.footer-right > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-right-contact img {
    margin-right: 0.5rem;
}

.footer-right-contact > :nth-child(1) {
    width: 2.125rem;
}

.footer-right-contact > :nth-child(2) {
    width: 2.25rem;
}

.footer-right-contact > :nth-child(3) {
    width: 2.5rem;
}

.footer-right > :nth-child(3) {
    width: 9.1875rem;
}
/* Footer */

@media (max-width: 1399.98px) {
    * {
        font-size: 13px;
    }
}

@media (max-width: 1199.98px) {
    * {
        font-size: 10px;
    }
}

@media (max-width: 991.98px) {
    * {
        font-size: 7px;
    }

    .banner-logo img {
        margin-top: 6.5rem;
    }
}

@media (max-width: 767.98px) {
    header {
        padding: 1rem 0 !important;
    }

    header::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3.8rem;
        background-color: #F4F4F5;
        z-index: 0;
        bottom: 0;
    }

    header .container {
        position: relative;
        flex-direction: column !important;
        z-index: 1;
    }

    header .header-logo {
        width: 5.9375rem;
        height: 5rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }
    
    .header-nav .nav > a::before {
        display: none;
    }

    .header-nav .nav > a:hover {
        color: #bd945f;
    }
}

@media (max-width: 575.98px) {
    * {
        font-size: 4px;
    }

    .contact-with-us-container, .contact-with-us {
        height: 130rem;
    }

    .contact-with-us-container > div {
        flex-direction: column;
        width: 80%;
    }

    .contact-with-us-content img {
        width: 100%;
    }

    .contact-with-us-content-right p {
        font-size: 3rem;
    }

    .contact-with-us-content input {
        width: 100%;
        height: 6.5rem;
        font-size: 2rem;
        padding: 0 3rem;
    }

    .contact-with-us-content button {
        width: 25%;
        height: 6.5rem;
        font-size: 2rem;
    }

    header {
        padding: 1.5rem 0 !important;
    }

    header .header-logo {
        width: 7.5rem;
        height: 6.6rem;
        overflow: hidden;
        margin-bottom: 0;
    }

    .header-logo img {
        width: 7.5rem;
    }

    header::before {
        display: none;
    }

    .header-nav.active {
        display: flex;
    }

    .fa-bars {
        position: absolute;
        display: block;
        font-size: 16px;
        top: 11.2px;
        left: 10px;
        color: #000;
    }

    div.header-nav {
        position: absolute;
        width: 100vw;
        top: 32.4px;
        left: calc(-100vw - (100vw - 81.5rem)/2);
        background-color: #f3f3f3;
        transition: left 0.3s ease;
    }

    div.header-nav.active {
        left: calc((81.5rem - 100vw) / 2);
    }

    nav.header-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5rem 0;
    }

    nav.header-nav a {
        position: relative;
        box-sizing: border-box;
        width: 85%;
        padding: 3rem 5rem !important;
        margin: 0 auto;
        font-size: 13px !important;
        opacity: 0;
        border: 1px solid #d4d4d4;
        background-color: #fff;
        transform: translateX(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    nav.header-nav.active > a::before {
        display: block !important;
        position: absolute;
        content: "";
        background-color: transparent;
        border-left: 6px solid #bd945f;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        left: -1px;
        top: -1px;
        height: 45.5px;
    }

    .header-nav.active a {
        opacity: 1;
        transform: translateX(0);
    }

    .header-nav.active a:nth-child(1) { transition-delay: 0.1s; }
    .header-nav.active a:nth-child(2) { transition-delay: 0.2s; }
    .header-nav.active a:nth-child(3) { transition-delay: 0.3s; }
    .header-nav.active a:nth-child(4) { transition-delay: 0.4s; }
    .header-nav.active a:nth-child(5) { transition-delay: 0.5s; }
    .header-nav.active a:nth-child(6) { transition-delay: 0.6s; }

    

    footer {
        height: max-content;
    }
    
    footer > div > div {
        height: max-content;
        margin-bottom: 6rem;
    }

    footer > div > div > p:nth-child(1) {
        margin-bottom: 5rem !important;
    }

    footer > div > div > p:nth-child(1)::before {
        top: 130% !important;
        width: 50% !important;
        height: 1rem !important;
    }

    footer * {
        font-size: 12px;
    }

    footer > .container {
        flex-direction: column;
        align-items: start !important;
        padding: 5rem 0;
    }

    .footer-left img {
        width: 2.5rem !important;
    }

    .footer-right> div > img {
        width: 5rem !important;
    }

    .footer-right > img:nth-child(3) {
        width: 30rem;
    }
}