* {
    padding: 0;
    margin: 0;
    font-family: Gotham-Medium, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    transition: all 0.3s ease-out;
}

.container {
    width: 1280px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
}

.header-nav .nav {
    gap: 3.5rem
}

.header-nav .nav > a {
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1.687rem;
    position: relative;
}

.header-nav .nav > a::before {
    content: '';
    position: absolute;
    top: 1.75rem;
    width: 0%;
    height: 0.3125rem;
    background-color: #bd945f;
    transition: all 0.3s ease;
}

.header-nav .nav > a:hover::before {
    width: 69%;
}
/* Header */

/* Banner */
.banner {
    background-image: url('../assets/img/contact/banner.jpg');
    height: 29.25rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 9rem;
}

.banner-logo {
    text-align: center;
}

.banner-logo img {
    margin-top: 4.5rem;
}

.banner-logo p {
    font-family: Gotham-Ultra, sans-serif;
    font-size: 3rem;
    line-height: 1;
    color: #fff;
    margin-top: 1.25rem;
}
/* Banner */

/* Contact */
.contact-with-us {
    height: 40.25rem;
    background-color: #f3f3f3;
}

.contact-with-us-container {
    position: absolute;
    background-color: #fff;
    width: 80rem;
    height: 40.25rem;
    top: -3.875rem;
}

.contact-with-us-container > div {
    display: flex;
    gap: 6.25rem;
    width: max-content;
}

.contact-with-us-content-right p {
    font-family: Gotham-Ultra, sans-serif;
    font-size: 1.875rem;
    color: #bd945f;
    margin-bottom: 1.5rem;
}

.contact-with-us-content-right input {
    box-sizing: border-box;
    width: 33.375rem;
    height: 3.625rem;
    border: 0.1875rem solid #bd945f;
    padding: 0 1.5rem;
    margin-bottom: 0.75rem;
    outline: none;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;

}

.contact-with-us-content-right input:focus {
    border: 2px solid #bd8b49;
    box-shadow: 0 0 8px rgba(216, 173, 80, 0.8);
}

.contact-with-us-content-right button {
    border: none;
    width: 7.875rem;
    height: 3.625rem;
    background-color: #bd945f;
    color: #fff;
}

.contact-with-us-content-right button:hover {
    background-color: #b6823f;
}
/* Contact */

/* Footer */
footer {
    height: 18.75rem;
    background-color: #363636;
}

footer * {
    font-size: 1.125rem;
    color: #fff;
    line-height: 1;
}

footer > div > div {
    display: inline-block;
    height: 12rem;
}
 
.footer-left > :nth-child(1) {
    position: relative;
    margin-bottom: 2rem;
}

.footer-left > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-left-contact {
    margin-left: 0.625rem;
}

.footer-left-contact p {
    font-family: Gotham-Thin, sans-serif;
}

.footer-left-contact img {
    margin-right: 1rem;
    margin-top: -0.3rem;
}

.footer-mid p {
    font-family: Gotham-Thin, sans-serif;
    margin-bottom: 0.5rem;
}

.footer-mid > :nth-child(1) {
    position: relative;
    font-family: Gotham-Medium, sans-serif;
    margin-bottom: 2rem;
}

.footer-mid > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-right > :nth-child(1), .footer-right > :nth-child(2) {
    margin-bottom: 2rem;
}

.footer-right > :nth-child(1) {
    position: relative;
}

.footer-right > :nth-child(1)::before {
    content: '';
    position: absolute;
    width: 5.625rem;
    height: 0.25rem;
    top: 1.625rem;
    background-color: #fff;
}

.footer-right-contact img {
    margin-right: 0.5rem;
}
/* Footer */