* {
    padding: 0;
    margin: 0;
    font-family: Gotham-Medium, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    transition: all 0.3s ease-out;
}

.container {
    width: 1280px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
}

.header-nav .nav {
    gap: 3.5rem
}

.header-nav .nav > a {
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1.687rem;
    position: relative;
}

.header-nav .nav > a::before {
    content: '';
    position: absolute;
    top: 1.75rem;
    width: 0%;
    height: 0.3125rem;
    background-color: #bd945f;
    transition: all 0.3s ease;
}

.header-nav .nav > a:hover::before {
    width: 69%;
}
/* Header */