* {
    padding: 0;
    margin: 0;
    font-family: Gotham-Medium, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    transition: all 0.3s ease-out;
}

.container {
    width: 1280px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 14px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 8px 14px -4px rgba(0,0,0,0.6);
    box-shadow: 0px 8px 14px -4px rgba(0,0,0,0.6);
}

.header-nav .nav {
    gap: 3.5rem
}

.header-nav .nav > a {
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1.687rem;
    position: relative;
}

.header-nav .nav > a::before {
    content: '';
    position: absolute;
    top: 1.75rem;
    width: 0%;
    height: 0.3125rem;
    background-color: #bd945f;
    transition: all 0.3s ease;
}

.header-nav .nav > a:hover::before {
    width: 69%;
}
/* Header */

/* Banner */
#banner {
    margin-top: 9rem;
    background-image: url('../assets/img/banner.png');
    width: 100%;
    height: 51.4375rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    margin-top: 8.5625rem;
    margin-left: 3.25rem;
}

.banner-content :first-child, .banner-content :nth-child(2) {
    font-size: 2.9rem;
    text-transform: uppercase;
    font-family: Gotham-Ultra, sans-serif !important;
    margin: 0;
    letter-spacing: 1.2px;
    line-height: 1;
}

.banner-content :first-child {
    margin-bottom: 0.75rem;
    color: #2c2e53;
}

.banner-content :nth-child(2) {
    margin-bottom: 1.5rem;
    color: #bd945f;
}

.banner-content > :nth-child(3) {
    font-size: 1rem;
    width: 34.5626rem;
    margin-bottom: 1.75rem;
    text-align: justify;
}

.banner-content button {
    box-sizing: border-box;
    width: 13.1875rem;
    height: 4.125rem;
    color: white;
    background-color: #bd945f;
    font-size: 1.21rem;
    font-family: Gotham-Ultra, sans-serif;
    text-transform: uppercase;
    border: 5px solid #bd945f;
}
/* Banner */


/* Catalogue */
#catalogue-container {
    position: relative;
    width: 81.5rem;
}

#catalogue {
    position: absolute;
    top: -3.75rem;
    background-color: #fff;
}

#catalogue .catalogue-box {
    display: flex;
    justify-content: center;
    width: 25%;
    padding-bottom: 3.25rem;
}

#catalogue .catalogue-box .catalogue-box-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

#catalogue :nth-child(1) .catalogue-box-box img, #catalogue :nth-child(2) .catalogue-box-box img, #catalogue :nth-child(3) .catalogue-box-box img, #catalogue :nth-child(4) .catalogue-box-box img {
    margin-bottom: 1rem;
}

#catalogue :nth-child(5) .catalogue-box-box img, #catalogue :nth-child(6) .catalogue-box-box img, #catalogue :nth-child(7) .catalogue-box-box img, #catalogue :nth-child(8) .catalogue-box-box img {
    margin-bottom: 1.25rem;
}

#catalogue .catalogue-box .catalogue-box-box p {
    display: inline-block;
    line-height: 1;
    margin: 0;
}
/* Catalogue */