* {
    padding: 0;
    margin: 0;
    font-family: Gotham-Medium, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    transition: all 0.3s ease-out;
}

.container {
    width: 1280px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 8px 14px -4px rgba(0, 0, 0, 0.6);
}

.header-nav .nav {
    gap: 3.5rem
}

.header-nav .nav > a {
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1.687rem;
    position: relative;
}

.header-nav .nav > a::before {
    content: '';
    position: absolute;
    top: 1.75rem;
    width: 0%;
    height: 0.3125rem;
    background-color: #bd945f;
    transition: all 0.3s ease;
}

.header-nav .nav > a:hover::before {
    width: 69%;
}
/* Header */

/* Banner */
#banner {
    margin-top: 9rem;
    background-image: url('../assets/img/banner.png');
    width: 100%;
    height: 51.4375rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    margin-top: 8.5625rem;
    margin-left: 3.25rem;
}

.banner-content :first-child, .banner-content :nth-child(2) {
    font-size: 2.9rem;
    text-transform: uppercase;
    font-family: Gotham-Ultra, sans-serif !important;
    margin: 0;
    letter-spacing: 1.2px;
    line-height: 1;
}

.banner-content :first-child {
    margin-bottom: 0.75rem;
    color: #2c2e53;
}

.banner-content :nth-child(2) {
    margin-bottom: 1.5rem;
    color: #bd945f;
}

.banner-content > :nth-child(3) {
    font-size: 1rem;
    width: 34.5626rem;
    margin-bottom: 1.75rem;
    text-align: justify;
}

.banner-content button {
    box-sizing: border-box;
    width: 13.1875rem;
    height: 4.125rem;
    color: white;
    background-color: #bd945f;
    font-size: 1.21rem;
    font-family: Gotham-Ultra, sans-serif;
    text-transform: uppercase;
    border: 5px solid #bd945f;
}
/* Banner */

/* Catalogue */
#catalogue-container {
    position: relative;
    width: 81.5rem;
}

#catalogue {
    position: absolute;
    top: -3.75rem;
    background-color: #fff;
}

#catalogue .catalogue-box {
    display: flex;
    justify-content: center;
    width: 25%;
    padding-bottom: 3.25rem;
}

#catalogue .catalogue-box .catalogue-box-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

#catalogue :nth-child(1) .catalogue-box-box img, #catalogue :nth-child(2) .catalogue-box-box img, #catalogue :nth-child(3) .catalogue-box-box img, #catalogue :nth-child(4) .catalogue-box-box img {
    margin-bottom: 1rem;
}

#catalogue :nth-child(5) .catalogue-box-box img, #catalogue :nth-child(6) .catalogue-box-box img, #catalogue :nth-child(7) .catalogue-box-box img, #catalogue :nth-child(8) .catalogue-box-box img {
    margin-bottom: 1.25rem;
}

#catalogue .catalogue-box .catalogue-box-box p {
    display: inline-block;
    line-height: 1;
    margin: 0;
}
/* Catalogue */

/* Standout product */
#standout-products {
    background-color: #f3f3f3;
    height: 67.5rem;
}

#standout-products-container {
    padding-top: 36rem;
}

#standout-products-container > p {
    position: relative;
    font-family: Gotham-Ultra, sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    margin-bottom: 4rem;
}

#standout-products-container > p::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 0.5625rem;
    left: 5rem;
    top: 2.625rem;
    background-color: #bd945f;
}

#standout-products h4 {
    color:  #2c2e53;
    font-size: 1rem;
    font-family: Gotham-Ultra, sans-serif;
    margin: 0.7rem 0 0 0;
}

#list-product {
    width: 1180px;
}

.product-box {
    margin-right: 2.0625rem;
}

.product-box a {
    text-decoration: none;
}

.product-title {
    display: inline-block;
}

.product-title :nth-child(2) {
    margin: 0;
    margin-top: -0.05rem;
}

.product-title :nth-child(3) {
    color: #888888;
    font-size: 0.75rem;
    margin: 0;
    margin-top: -0.05rem;
}

.product-title :nth-child(4) {
    font-size: 0.75rem;
    margin: 0;
}

.fa-star {
    font-size: 0.9rem;
}

.slick-arrow {
    position: absolute;
    font-size: 1.95rem;
    line-height: 1;
    padding: 0.4rem;
    width: 1.95rem;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #bd945f;
}

.slick-prev {
    top: 7rem;
    left: -4.125rem;
}

.slick-next {
    top: 7rem;
    right: -4.125rem;
}
/* Standout product */

/* About us */
.about-us {
    display: flex;
    align-items: center;
    width: 100%;
    height: 67.5rem;
    background-image: url("../assets/img/ve-chung-toi/bg-about-us.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.72);
}

.about-us > div > div {
    display: flex;
    flex-direction: column;
    margin: 0 3.25rem; 
    width: 100%;
    z-index: 1
}

.about-us-top {
    margin-bottom: calc(100vw * 0.04532);
}

.about-us-top-text p {
    font-size: 1.9rem;
    font-family: Gotham-Ultra, sans-serif;
    line-height: 1;
    margin-bottom: 4.125rem;
    position: relative;
}

.about-us-top-text p::after {
    content: '';
    position: absolute;
    left: 2.08rem;
    top: 2.3rem;
    width: 70%;
    height: 0.5625rem;
    background-color: #bd945f;
}

.about-us-top-content {
    gap: calc(100vw * 0.01649);
}

.about-us-top-content > div {
    width: calc((100% - 100vw * 0.01649) / 2);
}

.about-us-top-content-left img {
    width: 100%;
}

.about-us-top-content-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.about-us-top-content-right * {
    color: white;
    margin: 0;
    line-height: 1;
}

.about-us-top-content-right > :nth-child(2), .about-us-top-content-right > :nth-child(3) {
    width: 90%;
}

.about-us-top-content-right-picture div {
    width: calc((100% 100vw * 0.0074468 * 3) / 4);
}

.about-us-top-content-right-picture img {
    width: 100%;
}

.about-us-bottom-text p {
    font-size: 1.9rem;
    font-family: Gotham-Ultra, sans-serif;
    line-height: 1;
    position: relative;
    margin-bottom: 4.125rem;
}

.about-us-bottom-text p::after {
    content: '';
    position: absolute;
    left: 12.12rem;
    top: 2.3rem;
    width: 28.5%;
    height: 0.5625rem;
    background-color: #bd945f;
}

.about-us-bottom-content {
    gap: calc(100vw * 0.01649);
}

.about-us-bottom-content > div {
    box-sizing: border-box;
    width: calc((100% - 100vw * 0.01649) / 2);
    height: calc(100vw * 0.06);
    background-color: white;
    padding: 1.3125rem 2.3125rem;
}

.about-us-bottom-content > div img {
    margin-right: 2.25rem;
}

.about-us-bottom-content > div > div * {
    margin: 0;
}

.about-us-bottom-content > div > div :first-child {
    color: #bd945f;
    font-size: 1.5rem; 
    font-family: Gotham-Ultra, sans-serif;
}

.about-us-bottom-content > div > div :last-child {
    font-size: 0.875rem; 
}
/* About us */